<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
<h1>Графік з понеділка по п'ятницю</h1>
<table border="1">
    <thead>
    <tr>
        <th>День</th>
        <th>Завдання</th>
        <th>Час початку</th>
        <th>Час закінчення</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Понеділок</td>
        <td>Завдання 1</td>
        <td>9:00 AM</td>
        <td>10:00 AM</td>
    </tr>
    <tr>
        <td>Вівторок</td>
        <td>Завдання 2</td>
        <td>10:00 AM</td>
        <td>11:00 AM</td>
    </tr>
    <tr>
        <td>Середа</td>
        <td>Завдання 3</td>
        <td>11:00 AM</td>
        <td>12:00 PM</td>
    </tr>
    <tr>
        <td>Четвер</td>
        <td>Завдання 4</td>
        <td>1:00 PM</td>
        <td>2:00 PM</td>
    </tr>
    <tr>
        <td>П'ятниця</td>
        <td>Завдання 5</td>
        <td>3:00 PM</td>
        <td>4:00 PM</td>
    </tr>
    </tbody>
</table>
</body>
</html>
